@font-face {
    font-family: 'Jim Nightshade-Regular';
    src: url('./fonts/Jim_Nightshade/JimNightshade-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Poppins-Regular';
    src: url('./fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins-Bold';
    src: url('./fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 400;
    font-style: normal;
  }
.desktop30-container {
  align-items: center;
}
.desktop30-desktop30 {
    top: 12px;
    left: 24px;
    width: 100%;
    height: 64px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.desktop30-text {
    color: rgba(17, 22, 150, 1);
    width: 195px;
    height: auto;
    left:10px;
    position: absolute;
    font-size: 45px;
    font-style: Regular;
    text-align: left;
    font-family: Jim Nightshade;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop30-group80 {
    top: 13px;
    left: 1073px;
    width: 304.18048095703125px;
    height: 39px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.desktop30-group34 {
  top: 0px;
  left: 0px;
  width: 291px;
  height: 39px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-group14 {
  top: 0px;
  left: 186px;
  width: 105px;
  height: 39px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-iconamoonprofilecircle {
  top: 0px;
  left: 35px;
  width: 39px;
  height: 39px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop30-group {
    top: 4.878390789031982px;
    left: 8px;
    width: 29.25002098083496px;
    height: 30.87161636352539px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.desktop30-vector {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.desktop30-vector01 {
  top: 4.871609210968018px;
  left: 1.7095019817352295px;
  width: 26px;
  height: 26px;
  position: absolute;
}
.desktop30-text02 {
  top: 6px;
  left: 78px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-text04 {
  top: 6px;
  left: 150px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-text06 {
  top: 6px;
  left:50px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-vector02 {
  top: 20px;
  left: 297px;
  width: 7px;
  height: 5px;
  position: absolute;
}
.desktop30-group7 {
  top: 1722px;
  left: 0px;
  width: 100%;
  height: 273px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(17, 22, 150, 0.8500000238418579);
}
.desktop30-text08 {
  top: 20%;
  left: 631px;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: Regular;
  text-align: left;
  font-family: Jim Nightshade;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-text10 {
  top: 128px;
  left: 620px;
  color: rgba(207, 204, 204, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-text12 {
  top: 170px;
  left: 550px;
  color: rgba(207, 204, 204, 1);
  height: auto;
  position: absolute;
  font-size: 23px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-group87 {
  top: 75px;
  left: 125px;
  width: 1000px;
  height: 583px;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-line2 {
  top: 0px;
  left: 781px;
  width: 583px;
  height: 1px;
  position: absolute;
}
.desktop30-text14 {
  top: 10px;
  left: 350px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  text-align: left;
  font-family: "Poppins-Bold";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-text16 {
  top: 105px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 17px;
  font-style: Light;
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-group37 {
  left: 350px;
  width: 100%;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-text23 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  top: 85px;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.box2{
  margin-top: 75px;
  margin-left: 181px;
}
.desktop30-text25 {
  left: 368px;
  top: 85px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-group39 {
  top: 350px;
  left: 350px;
  width: 423px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-text27 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-text29 {
  left: 368px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-group40 {
  top: 400px;
  left: 350px;
  width: 417px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-text31 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-text33 {
  left: 368px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-group41 {
  top: 450px;
  left: 350px;
  width: 424px;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-text35 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-text37 {
  left: 368px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-group38 {
  width: 100%;
  height: 29px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.box1{
   margin-top: 125px;
   margin-left: 530px;
}
.desktop30-text39 {
  top: 135px;
  color: rgba(0, 0, 0, 1);
  width:350px;
  left: 350px;
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-text41 {
  left: 720px;
  top: 135px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-group47 {
  top: 467px;
  left: 228px;
  width: 230px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(17, 22, 150, 1);
}
input[type="submit"] {
  margin-top: 30px;
  left: 475px;
  top:500px;
  background-color: rgba(17, 22, 150, 1);
  color: rgba(255, 255, 255, 1);
  width: 200px;
  height: auto;
  position: absolute;
  cursor: pointer;
  font-size: 19px;

  text-align: center;
  font-family: "Poppins-Regular";
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-line3 {
  top: 538px;
  left: 800px;
  width: 446px;
  height: 1px;
  position: absolute;
}
.desktop30-group42 {
  top: 38px;
  left: 37px;
  width: 177px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-text45 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-group36 {
  top: 93px;
  left: 1015px;
  width: 102px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-vector03 {
  top: 21px;
  left: 8.270270347595215px;
  width: 11px;
  height: 2px;
  position: absolute;
}
.desktop30-vector04 {
  top: 15px;
  left: 80.8648681640625px;
  width: 11px;
  height: 12px;
  position: absolute;
}
.desktop30-text47 {
  top: 6px;
  left: 47.783782958984375px;
  color: rgba(0, 0, 0, 1);
  width: 6px;
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-group57 {
  top: 144px;
  left: 1015px;
  width: 102px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-vector05 {
  top: 21px;
  left: 8.270270347595215px;
  width: 11px;
  height: 2px;
  position: absolute;
}
.desktop30-vector06 {
  top: 15px;
  left: 80.8648681640625px;
  width: 11px;
  height: 12px;
  position: absolute;
}
.desktop30-text48 {
  top: 6px;
  left: 47.783782958984375px;
  color: rgba(0, 0, 0, 1);
  width: 6px;
  height: auto;
  position: absolute;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-vector07 {
  top: 44px;
  left: 730px;
  width: 22px;
  height: 22px;
  position: absolute;
}
.desktop30-group1 {
  top: 43px;
  left: 5px;
  width: 17.205909729003906px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-vector08 {
  top: 0px;
  left: 0px;
  width: 17px;
  height: 23px;
  position: absolute;
}
.desktop30-vector09 {
  top: 5.018454074859619px;
  left: 5.017880916595459px;
  width: 7px;
  height: 7px;
  position: absolute;
}
.desktop30-group46 {
  top: 218px;
  left: 0px;
  width: 133px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-text49 {
  left: 37px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-vector10 {
  top: 5px;
  left: 0px;
  width: 28px;
  height: 22px;
  position: absolute;
}
.desktop30-group56 {
  top: 285px;
  left: 30px;
  width: 625px;
  height: 119px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop30-group44 {
  top: 0px;
  left: 0px;
  width: 625px;
  height: 119px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(248, 246, 246, 0.7200000286102295);
}
.desktop30-line4 {
  top: 59.038761138916016px;
  left: 14px;
  width: 598px;
  height: 1px;
  position: absolute;
}
label {

  color: rgba(144, 132, 132, 1);
  font-size: 21px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;

  display: inline-block;
}
.desktop30-text53 {
  top: 72.95828247070312px;
  left: 72.931640625px;
  color: rgba(135, 133, 133, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 21px;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop30-vector11 {
  top: 27.200002670288086px;
  left: 26.7724609375px;
  width: 23px;
  height: 17px;
  position: absolute;
}
